* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

#game {
  font-size: 20px;
}

header {
  background-color: bisque;
  padding: 15px;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

h1 {
  margin: 0px;
  text-align: center;
  color: cadetblue;
  font-weight: bold;
  flex-grow: 1;
}

.game-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
}

label {
  font-size: 20px;
  font-weight: 500;
  margin-left: 5px;
  margin-bottom: 10px;
}

select {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 20px;
}

#score-board {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px #0000001a;
  margin-bottom: 100px;
  border: 2px solid black;
  margin: 10px;
  width: 20%;
  text-align: left;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-size: 1.2rem;
  overflow: auto;
}

#score-board span {
  font-weight: bold;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  outline: none;
}

button:hover {
  background-color: #0d8bf2;
}

section {
  text-align: center;
}

#choices {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 50px;
}

#final-result > div {
  padding: 0;
  margin: 50px;
  font-weight: bold;
  font-size: 100px;
}

.choice {
  overflow: hidden;
  border-radius: 50%;
  width: 100%;
  height: auto;
  border: 2px solid black;
  padding: 10px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  #game-mode {
    width: 100%;
    margin-top: 10px;
  }

  #score-board {
    font-size: 1.2rem;
    padding: 15px;
    width: 90%;
  }

  #score-board div {
    margin-bottom: 10px;
  }

  #choices {
    flex-direction: column;
    height: auto;
  }

  #choices div {
    flex: none;
    width: 100%;
    font-size: 0.7rem;
    padding: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  #game-mode {
    padding: 8px;
  }
}
